<h1>Create Doctor</h1>


<form action="/doctors" method="POST">
  <input type="text" name="name" placeholder="Enter Name">
  <input type="text" name="skill" placeholder="Enter Skill">
  <input type="text" name="img_url" placeholder="Enter Img URL">
  <input type="number" name="years_experience" placeholder="Enter Experience">

  <input type="submit" value="Kablam">
</form>