.App {
  text-align: center;
  height: 100vh;
  width: 100vw;
  overflow-y: scroll;
  background-color: #5f9ea073;
}

div#game-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 10px 20px;
}

.game-card {
  margin: 15px -2px;
  flex-basis: 30%;
  padding: 5px;
  border-radius: 6px;
  background-color: white;
}

.game-card > button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 4px;
}

.navbar {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  border-bottom: 2px dotted black;
  padding: 5px 2px;
}

.game-page {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.game-info, .game-reviews {
  flex-basis: 50%;
}

img.game-page-img {
  max-width: 40vw;
}