.App {
  text-align: center;
  height: 100vh;
  width: 100vw;
  overflow-y: scroll;
  background-color: #5f9ea073;
}

div#game-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 10px 20px;
}

.game-card {
  margin: 15px -2px;
  flex-basis: 30%;
  padding: 5px;
  border-radius: 6px;
  background-color: white;
}